@page
@model CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<div class="intro-text">
    <h2>Agenda</h2>
</div>

<div class="calendar-box">
    @{
        CalendarModel c = new();
        c.OnGet();
    }
    <h2><b>Dit zijn je afspraken</b></h2>

        @{
            foreach (var app in c.Appointments)
            {
            <tr>
                <td><a href= "AppointmentDetails?ID=@app.ID">
                        <div class="date">
                            <p>@app.Start.ToString("HH:mm") - @app.End.ToString("HH:mm")</p>
                            <p>@app.Start.ToString("ddd dd MMM yyyy")</p>
                        </div>
                        <p class="appointment-name">@app.Name</p>
                </a></td>
            </tr>
          
            }
        }

</div>
