@page
@model ADHD_App.Models.Appointment
@{
    ViewData["Calendar"] = "Calendar";
}

<div class="intro-text">
    <h2><b>Dit is je agenda</b></h2>
</div>

<div class="calendar-box">
    <h3>@Model.Description</h3>
</div>
