@page
@model ADHD_App.Pages.Game1
@{
    ViewData["Title"] = "Game1";
}
<style>
    .box{
        background-color: white;
        margin: auto;
        width: 750px;
        height: 600px;
    }
</style>
<h1>@ViewData["Title"]</h1>

<div class="box">
    <frameset class="gameframe">
        <frame src="frame1.html">
    </frameset>
</div>