@page
@model ADHD_App.Pages.HomeModel
@{
    ViewData["Title"] = "Home page";
}
<partial name="Taskbar" />

<div class="main-page">
<div class="Home-box">
<div class="Home-box-Left">
    <a href="SchoolTasks">
        <button type="button">
            <span>
                <img src="images/Book.png" />
                <h4>School Werk</h4>
            </span>
        </button>
    </a>

    <a href="Privacy">

        <button type="button">
            <span>
                <img src="images/Agenda.png"/>
                <h4>Agenda</h4>
            </span>
        </button>
    </a>

    <a href="Privacy">

        <button type="button">
            <span>
                <img src="images/profile.png"/>
                <H4>Profiel</H4>
                
            </span>
        </button>
    </a>
</div>
<div class="Home-box-Right">

    <a href="Privacy">
        <button type="button">
            <span>
                <img src="images/Book.png"/>
                <h4>Pauze</h4>
                
            </span>
        </button>

    <a href="/">
        <button type="button">
            <span>
                <img src="images/logOut.png"/>
                <h4>Log uit</h4>
                
            </span>
        </button>
    </a>
</div>
</div>

<div class="stick-figure">
    <img src="images/stickFigure.png" alt="">
</div>
</div>