@page
@model ADHD_App.Pages.HomeModel
@{
    ViewData["Title"] = "Home page";
}
<partial name="Taskbar" />
@{
var person = Model.People;
}
<div class="main-page">
<div class="Home-box">
<div class="Home-box-Left">
    <a href="SchoolTasks">
        <button type="button">
            <span>
                <img src="images/Book.png" />
                <h4>School Werk</h4>
            </span>
        </button>
    </a>

    <a href="Calendar">

        <button type="button">
            <span>
                <img src="images/Agenda.png"/>
                <h4>Agenda</h4>
            </span>
        </button>
    </a>

    <a href="Profiel">

        <button type="button">
            <span>
                <img src="images/profile.png"/>
                <H4>Profiel</H4>
                
            </span>
        </button>
    </a>
</div>
<div class="Home-box-Right">
                
                @if (person.EnergyOfTheDay != null && person.EnergyOfTheDay.Count > 0)
                {
                    var currentEnergy = person.EnergyOfTheDay[person.EnergyOfTheDay.Count - 1];
                    if (currentEnergy > 50)
                    {
                        <button type="button">
                        <span>
                            <img src="images/slot.png" alt="Slotje"/>
                            <h4>Pauze</h4>
                        </span>
                        </button>
                    }
                    else
                    {
                        <a href="Privacy">
                        <button type="button">
                        <span>
                            <img src="images/Book.png" alt="Book"/>
                            <h4>Pauze</h4>
                        </span>
                        </button>
                        </a>
                    }
                }
                else
                {
                    <a href="Privacy">
                        <button type="button">
                        <span>
                            <img src="images/Book.png" alt="Book"/>
                            <h4>Pauze</h4>
                        </span>
                        </button>
                    </a>
                }

                

    <a href="/">
    <a href="EnergieHistory">
        <button type="button">
            <span>
                <img src="images/geschiedenis.png"/>
                <h4>Energie Geschiedenis</h4>
                
            </span>
        </button>

    <a href="/">
        <button type="button">
            <span>
                <img src="images/logOut.png"/>
                <h4>Log uit</h4>
                
            </span>
        </button>
    </a>
</div>
</div>

<div class="stick-figure">
    <img src="images/astronaut.png" alt="">
</div>
</div>