@page
@model ADHD_App.Pages.Profiel
@{
    ViewData["Title"] = "Profiel";
}

<style>
    .intro {
        background-color: #ffff;
        color: black;
        padding: 20px;
        width: 500px;
        margin: 0 auto;
        text-indent: 100px;
        border-radius: 25px;
        margin-top: 100px;
    }

    .background {
        background-color: #ffff;
        padding: 300px;
        width: 900px;
        margin: 0 auto;
        border-radius: 25px;
        margin-top: 25px;
    }
    .backbutton {
        background-color: #ffff;
        padding: 5px, 4px;
        width: 75px;
        margin: 0 auto;
        margin-left: -15px;
        border-radius: 25px;
        text-align: center;
    }

    .ProfielFoto {
        position: relative;
        top: 220px;
        height: 200px; 
        width: 100px; 
        margin-left: -250px; 
        margin-top: -500px;
    }

    .ProfielFoto:active{
        transform: translateY(4px);
    }

    .ProfielFotoGRID {
        height: 300px;
        width: 400px;
        position: relative;
        top: 700px;
        right: 100px;
        margin-left: -250px;
        margin-top: -500px;
        background-color: #FFFFFF;
        display: none;
        border-style: solid;
        border-color: #000000;
        overflow-y: scroll;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .GRIDBLOCK {
        height: 300px;
        width: 400px;
        position: relative;
        top: 700px;
        right: 100px;
        margin-left: -250px;
        margin-top: -500px;
        background-color: #FFFFFF;
        display: block;
        border-style: solid;
        border-color: #000000;
    }
    

</style>
@{
    var person = Model.People;
}

<partial name="Taskbar" />

<div class="intro">
    <h2><b>Profiel van @person.Username!</b></h2>
</div>

<div class="background">
    <div class="ProfielFoto" id="ProfielFoto">
        <img src="@person.ProfilePicture" alt="Huidige profiel foto van de gebruiker"/>
    </div>
    <div class="ProfielFotoGRID" id="PROFIELGRID">

    </div>
    <
</div>


<script>
    const button = document.getElementById("ProfielFoto")
    button.addEventListener("click", function () {
        profielgrid = document.getElementById("PROFIELGRID")
        if (profielgrid.style.display != 'none') {
            profielgrid.style.display = 'none'
        }
        else { 
            profielgrid.style.display = 'grid'
        }
    })
</script>
<script>
    window.onload = function loadimages() {
        var test = @Html.Raw(Json.Serialize(Model.People.unlockedImages))
        for (const pic of test) { 
            var item = document.createElement("GRIDBLOCK");
            var parent = document.getElementById("PROFIELGRID");
            parent.appendChild(item);
            var newimg = document.createElement("img")
            newimg.src = pic;
            newimg.alt = "Een potentieel profielfoto"
            item.appendChild(newimg)
            item.addEventListener("click", function () {
                profielgrid = document.getElementById("PROFIELGRID")
                profielgrid.style.display = 'none';
                console.log(item.children[0]);
                console.log("OTHER_TEST");
                console.log(document.getElementById("ProfielFoto").children[0].src)
                var profielfoto = document.getElementById("ProfielFoto").children[0].src = item.children[0].src;
            })
        }
    }
</script>

