@page
@model ADHD_App.Pages.Profiel
@{
    ViewData["Title"] = "Profiel";
}

<style>
    .intro {
        background-color: #ffff;
        color: black;
        padding: 20px;
        width: 500px;
        margin: 0 auto;
        text-indent: 100px;
        border-radius: 25px;
        margin-top: 100px;
    }

    .background {
        background-color: #ffff;
        padding: 300px;
        width: 900px;
        margin: 0 auto;
        border-radius: 25px;
        margin-top: 25px;
    }
    .backbutton {
        background-color: #ffff;
        padding: 5px, 4px;
        width: 75px;
        margin: 0 auto;
        margin-left: -15px;
        border-radius: 25px;
        text-align: center;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
        padding: 12px 16px;
        z-index: 1;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }

</style>

<div class="backbutton"><p><b><a href="Index"> Terug </a></b></p></div>

<div class="intro">
    <h2><b>Profiel van @Model.Products[0].Username!</b></h2>
</div>

<div class="background">
    <div>
        <span>
            <img src="images/Book.png" style="height: 200px; width: 100px; margin-left: -250px; margin-top: -500px;" >
        </span>
    </div>
</div>