@page
@model ADHD_App.Pages.RegisterModel
@{
}
<link rel="stylesheet" href="css/register.css">

<div class="register-box">
    <br><h1> Meld je aan</h1>
    
    <form method="post" asp-page="Register">
    <div class="register-images">
    
    <div class="role-box">
    <div class="teacher-box">
    <a href="?role=teacher">
    <img src="images/docent.jpg" width="150px" height="150px" alt="Docent">
    <h1>Docent</h1>
    </a>
    </div>
    

    
    <a href="?role=chiild">
    <div class="child-box">
    <img src="images/kind.jpg" width="150px" height="150px" alt="Leerling">
    <h1>Leerling</h1>
    </a>
    </div>
    </div>

    <br>
        
         <div class="form-item">
            <label for="FirstName">Voornaam:</label>
            <input type="text" id="FirstName" asp-for="person.First_Name" placeholder="Voornaam">
            <span asp-validation-for="person.First_Name" class="text-danger"></span>
        </div>

        <div class="form-item">
            <label for="LastName">Achternaam:</label>
            <input type="text" id="LastName" asp-for="person.Last_Name" placeholder="Achternaam">
            <span asp-validation-for="person.Last_Name" class="text-danger"></span>
        </div>

        <div class="form-item">
            <label for="Gender">Geslacht:</label>
            <select id="Gender" asp-for="person.Gender">
                <option value="" disabled selected hidden>Kies geslacht</option>
                <option value="male">Jongen</option>
                <option value="female">Meisje</option>
                <option value="other">Anders</option>
            </select>
        </div>

        <div class="form-item">
        <label for="Birthdate">Geboortedatum:</label>
        <input type="date" id="Birthdate" asp-for="person.Date_of_Birth">
        <span asp-validation-for="person.Date_of_Birth" class="text-danger"></span>
        </div>

        <div class="form-item">
        <label for="Group">Groep:</label>
        <input type="text" id="Group" asp-for="person.Group" placeholder="Groep">
        <span asp-validation-for="person.Group" class="text-danger"></span>
        </div>

        <div class="form-item">
            <label for="Email">Email-adres:</label>
            <input type="email" id="Email" asp-for="person.Email" placeholder="Email-adres">
            <span asp-validation-for="person.Email" class="text-danger"></span>
        </div>

        <div class="form-item">
            <label for="Phone">Telefoonnummer:</label>
            <input type="text" id="Phone" asp-for="person.Phonenumber" placeholder="Telefoonnummer">
            <span asp-validation-for="person.Phonenumber" class="text-danger"></span>
        </div>

        <div class="form-item">
            <label for="Username">Gebruikersnaam:</label>
            <input type="text" id="Username" asp-for="person.Username" placeholder="Gebruikersnaam">
            <span asp-validation-for="person.Username" class="text-danger"></span>
        </div>

        <div class="form-item">
            <label for="Password">Wachtwoord:</label>
            <input type="password" id="Password" asp-for="person.Password" placeholder="Wachtwoord">
            <span asp-validation-for="person.Password" class="text-danger"></span>
        </div>

        <a href="Home"><button type="submit">Registreren</button></a>
    </form> 
</div>

