<nav class="taskbar">
    <ul>
        <li>
            <a href="/home">
                <img src="images/Home.png" alt="Home" style="height: 40px; width: 40px;" />
                Home
            </a>
        </li>
        <li>
            <a href="/EnergiePopUp">
                <img src="images/EnergiePic.png" alt="Home" style="height: 40px; width: 40px;" />
                Energie meten
            </a>
        </li>
        <li>
        <div style="width: 800px;"></div>
       
        </li>
        <li>
            <a href="/">
                <img src="images/LogOut.png" alt="Home" style="height: 40px; width: 40px;" />
                uitloggen
            </a>
        </li>

        <!-- Add other links as needed -->
    </ul>
</nav>