/* Registreren */
.register-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 500px;
    height: 500px;
    padding: 20px;
}

.home-bar{
    width: 50px;
    height: 50px;
    top: 20px;
}

.Home-box {
    width: 50%;
    display: flex;
    justify-content: space-between; /* Adjust spacing between flex items */
    background-color: rgba(7, 39, 244, 0.7);
    border-radius: 10px;
    width: 900px;
    height: 600px;
    /* margin-right: auto; */
    padding: 30px;
}

.Home-box button {
    height: 100px;
    width: 400px;
    margin-top: 2%;
    place-items: center;
    border-radius: 10px;
    background-color: rgb(246, 243, 243);
}

.Home-box .Home-box-Left,
.Home-box .Home-box-Right {
    display: flex;
    flex-direction: column;
}

.Home-box .Home-box-Right {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}



.Home-box button img{
    height: 60px;
    width: 80px;
    margin-right: 10px;
    float: left;
    padding-left: 5%;
}

.home-button{
    color:rgba(114, 235, 21, 0.7)
}