/* Standaard styling */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/* Homepage */
.intro-text {
    font-family: Arial;
    font-size: 15pt;
    text-align: center;
    margin: 0 auto;
    color: white;
    padding-top: 5%;
    margin-bottom: 5%;
    text-shadow: -2px -2px 0 black
}

.login-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 450px;
    height: 500px;
    margin: auto;
    padding: 20px;
}

.login-box form {
    margin: 20% auto;
}

.login-box h2 {
    text-align: center;
}

.login-box button {
    background-color: greenyellow;
    color: black;
    cursor: pointer;
    width: 100%;
    margin-top: 30%;
    border: none;
    border-radius: 20px;
}

.login-box button:hover {
    background-color: green;
}

.login-box label {
    display: block;
    margin-top: 10px;
}


.home-bar {
    width: 50px;
    height: 50px;
    top: 20px;
}

.main-page {
    float: left;
}

.Home-box {
    display: flex;
    justify-content: space-between;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    width: 900px;
    height: 600px;
    /* margin-right: auto; */
    padding: 30px;
    float: left;
}

.Home-box button {
    height: 100px;
    width: 400px;
    margin-top: 2%;
    place-items: center;
    border-radius: 10px;
    background-color: rgb(246, 243, 243);
}

.Home-box .Home-box-Left,
.Home-box .Home-box-Right {
    display: flex;
    flex-direction: column;
}

.Home-box .Home-box-Right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.Home-box button img {
    height: 60px;
    width: 80px;
    margin-right: 10px;
    float: left;
    padding-left: 5%;
}

.home-button {
    color: rgba(114, 235, 21, 0.7)
}

.EnergiePopUp {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    position: absolute;
    width: 40%;
    height: 45%;
    padding: 20px;
    right: 30%;
}

.EnergiePopUp button {
    background-color: #4274F0;
    color: black;
    cursor: pointer;
    width: 70%;
    margin-top: 30%;
    border: none;
    position: absolute;
    border-radius: 20px;
    top: 20%;
    right: 15%;
}

.EnergiePopUp button:hover {
    background-color: #72cdf7;
}


.EnergiePopUp h2 {
    text-align: center;
    font-size: 50px;
}

.EnergiePopUp form {
    margin: 20% auto;
}

.EnergiePopUp input {
    width: 14%;
    margin-top: 10px;
    position: absolute;
    right: 43%;
    text-align: center;
    bottom: 45%;
}

.EnergiePopUp h3 {
    text-decoration: none;
    position: absolute;
    font-size: 15px;
    right: 35%;
    bottom: 55%;
}

.EnergiePopUp h4 {
    text-decoration: none;
    position: absolute;
    font-size: 12px;
    right: 35%;
    bottom: 35%;
}

.stick-figure {

    /* margin: 1%; */
    padding-top: 30px;
    float: left;
    width: 350px;
    height: 600px;

}

.stick-figure img {
    width: 100%;
    height: 100%;
}




.taskbar {
    background-color: #4274f0;
    color: #fff;
    padding: 10px;
    width: 100%;
    /* Make taskbar fill the whole width */
}

.taskbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.taskbar ul li {
    display: inline-block;
    /* Display list items horizontally */
    margin-right: 20px;
}

.taskbar ul li a {
    color: #fff;
    text-decoration: none;
}

.taskbar ul li a:hover {
    color: #ff0;
}

.logout {
    margin-left: auto;
    /* Push the "Log Out" link to the right */
}



.schoolvakken {
    background-color: rgb(192, 192, 192);
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.schoolvak {
    display: flex;
    column-gap: 20px;
    margin: 10px;
    flex-wrap: wrap;
}

.vak {}

.progressbar {
    margin-right: 20px;
    align-self: center;
    flex-grow: 2;
    background-color: lightgray;
    border-radius: 15px;
}

.skill {
    background-color: rgb(116, 194, 92);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}


.html {
    width: 10%;
}

.php {
    width: 60%;
}

.react {
    width: 30%;
}

.empty {
    flex: 1;
}

img {
    width: 100px;
    height: 100px;
}

.Agenda {
    font-family: Arial;
    font-size: 15pt;
    text-align: left;
    margin: 0 auto;
    color: white;
    text-shadow: -2px -2px 0 black
}

.calendar-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1px;
    width: 500px;
    height: 100vh;
    right: 0px;
    top: 0;
    overflow: auto;
    padding: 20px;
    text-align: left;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.calendar-box .date {
    border-right: 1px solid #fff;
    font-weight: 600;
    max-width: 40%;
    padding-right: 5px;
    text-align: end;
    width: 40%;
}

.calendar-box .date p {
    margin-bottom: 0;
}

.calendar-box .energy {
    padding-left: 10px;
    align-self: center;
}

.calendar-box a {
    background-color: #4274F0;
    border-radius: 20px;
    box-shadow: 0 3px 5px #0000000a;
    display: flex;
    margin: 10px;
    padding: 5px;
    width: 90%;
    border: none;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.calendar-box a:hover {
    background-color: cornflowerblue;
}

.date-selecter {
    left: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1px;
    width: 500px;
    top: 10%;
    text-align: center;
}

.date-selecter a {
    background-color: #72F7F7;
    border-radius: 20px;
    box-shadow: 0 3px 5px #0000000a;
    display: flex;
    margin: 10px;
    padding: 5px;
    width: 90%;
    border: none;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
}

.Appointment-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1px;
    width: 40%;
    height: 100vh;
    right: 30%;
    overflow: auto;
    padding: 20px;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.Appointment-box h5 {
    align-self: center;
    background-color: #4274F0;
    border-radius: 20px;
    box-shadow: 0 3px 5px #0000000a;
    display: flex;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    border: none;
    text-decoration: none;
    text-align: center;
    color: white;
}

.Appointment-box a {
    align-self: center;
    background-color: darkred;
    border-radius: 20px;
    box-shadow: 0 3px 5px #0000000a;
    display: flex;
    padding: 15px;
    width: 100%;
    border: none;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.2em;

}

.Appointment-box a:hover {
    background-color: red;
}

.AddAppointment a {
    align-self: center;
    background-color: red;
    border-radius: 20px;
    box-shadow: 0 3px 5px #0000000a;
    display: flex;
    padding: 15px;
    width: 100%;
    border: none;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.AddAppointment a:hover {
    background-color: darkred;
}

.returntocalendar a {
    align-self: center;
    background-color: #4274F0;
    border-radius: 20px;
    box-shadow: 0 3px 5px #0000000a;
    display: flex;
    padding: 15px;
    width: 100%;
    border: none;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.returntocalendar a:hover {
    background-color: cornflowerblue;
}

.EnergieHistory h2 {
    text-align: center;
    font-size: 100px;
}

.geschiedenis {
    background-color: rgb(18, 223, 223);
    font-size: 100px;
}